<div id="principal" class="conteiner">
  <br />
  <h1>Analisador léxico para JavaScript</h1>
  <br />
  <h4>Meu código fonte:</h4>

  <!--  Entrada do código....................................................-->
  <div class="row">
    <div class="col-md-12">
        
      <textarea class="form-control" rows="20" cols="" id="comment" [(ngModel)] = "codFonte" > </textarea>

      <h5>Quantidade de caracteres: {{codFonte.length}}</h5>

      <!--Importar arquivo fonte externo....................................-->
      <input type="file" multiple onchange="angular.element(this).scope().fileNameChanged(this)">
      
      <div class=text-right>
        <button type="button" class="btn btn-success" (click)="compiler()">Analisar Código</button>
      </div>

    </div>
  </div>
  <br /> 
  <br />

  <!--  Tabela de Tokens......................................................-->
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Token</th>
            <th scope="col">Função</th>
            <th scope="col">Posição(linha, coluna)</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let tok of token; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ tok.token }}</td>
            <td>{{ tok.funcao }}</td>
            <td>{{ tok.posicao }}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
<p>{{leitorDeCSV}}</p>